<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:stella="http://stella.caelum.com.br/faces2">
    <h:form id="formCadastro" rendered="#{clienteControle.viewForm}">
        <p:panel header="Formulario de cadastro" toggleable="true">
            <p:panelGrid id="grid" columns="1" layout="grid">
                <p:selectOneRadio value="#{clienteControle.tipoPessoa}">
                    <f:selectItem itemLabel="Pessoa fisica" itemValue="PF"/>
                    <f:selectItem itemLabel="Pessoa juridica" itemValue="PJ"/>
                    <f:ajax event="change" render="grid" listener="#{clienteControle.criaCliente()}"/>
                </p:selectOneRadio>
                <p:inputText value="#{clienteControle.cliente.pessoa.nome}"
                             placeholder="Nome do cliente"
                             style="width: 90%"
                             required="true"
                             requiredMessage="O nome do cliente é obrigatório"/>
                <p:inputText value="#{clienteControle.cliente.pessoa.fone}"
                             placeholder="Fone do cliente"
                             style="width: 90%"/>
                <p:inputText value="#{clienteControle.cliente.pessoa.endereco}"
                             placeholder="Endereço do cliente"
                             style="width: 90%"/>

                <p:inputMask mask="999.999.999-99" value="#{clienteControle.cliente.pessoa.cpf}"
                             placeholder="CPF do cliente"
                             rendered="#{clienteControle.tipoPessoa=='PF'}">
                    <stella:validateCPF/>
                </p:inputMask>
                <p:inputMask mask="99.999.999-9" value="#{clienteControle.cliente.pessoa.rg}"
                             placeholder="RG do cliente"
                             rendered="#{clienteControle.tipoPessoa=='PF'}"/>
                <p:calendar value="#{clienteControle.cliente.pessoa.nascimento}" pattern="dd/MM/yyyy"
                            placeholder="Data de nascimento"
                            rendered="#{clienteControle.tipoPessoa=='PF'}"/>

                <p:inputMask mask="99.999.999/9999-99" value="#{clienteControle.cliente.pessoa.cnpj}"
                             placeholder="CNPJ do cliente"
                             rendered="#{clienteControle.tipoPessoa=='PJ'}"/>
                <p:inputMask mask="999.99999-99" value="#{clienteControle.cliente.pessoa.ie}"
                             placeholder="IE do cliente"
                             rendered="#{clienteControle.tipoPessoa=='PJ'}"/>
                
                <p:selectOneMenu value="#{clienteControle.cliente.cidade}"
                                 converter="#{cidadeControle.converter()}">
                    <f:selectItems value="#{cidadeControle.listaCidade}"
                                   var="item"
                                   itemLabel="#{item.nome}"
                                   itemValue="#{item}"/>
                </p:selectOneMenu>

            </p:panelGrid>
            <f:facet name="footer">
                <p:commandButton value="Salvar" action="#{clienteControle.salvar()}"
                                 ajax="false"/>
                <p:commandButton value="Cancelar" action="listagem?faces-redirect=true"
                                 immediate="true"
                                 ajax="false"/>
            </f:facet>
        </p:panel>
    </h:form>

</html>
