<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    
    
    <h:form id="formCadastro" rendered="#{cidadeControle.viewForm}">
        <p:panel header="Formulario de cadastro" toggleable="true">
            <p:panelGrid id="grid" columns="1" layout="grid">
                <p:inputText value="#{cidadeControle.cidade.nome}"
                             placeholder="Nome do estado"
                             style="width: 90%"
                             required="true"
                             requiredMessage="O nome do estado é obrigatório"/>
                <p:inputText value="#{cidadeControle.cidade.codIbge}"
                             placeholder="IBGE"
                             style="width: 90%"/>
                
                <p:selectOneMenu value="#{cidadeControle.cidade.estado}"
                                 converter="#{estadoControle.converter()}">
                    <f:selectItems value="#{estadoControle.listaEstado}"
                                   var="item"
                                   itemLabel="#{item.nome}"
                                   itemValue="#{item}"/>
                </p:selectOneMenu>

            </p:panelGrid>
            <f:facet name="footer">
                <p:commandButton value="Salvar" action="#{cidadeControle.salvar()}"
                                 ajax="false"/>
                <p:commandButton value="Cancelar" action="listagem?faces-redirect=true"
                                 immediate="true"
                                 ajax="false"/>
            </f:facet>
        </p:panel>
    </h:form>

</html>
