<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <ui:composition template="WEB-INF/template.xhtml">
        <ui:define name="conteudo">
            Tela principal
        </ui:define>
    </ui:composition>
</html>
