<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>TODO supply a title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </h:head>
    <h:body>
        <p:messages/>

        <h:form>
            <p:menubar>
                <p:menuitem url="/index.xhtml" value="Home"/>
                <p:submenu label="Cadastros">
                    <p:menuitem url="/cliente/listagem.xhtml" value="Cliente"/>
                    <p:menuitem url="/estado/listagem.xhtml" value="Estado"/>
                    <p:menuitem url="/cidade/listagem.xhtml" value="Cidade"/>
                </p:submenu>
                <p:submenu label="Movimento">
                    <p:menuitem url="index.xhtml" value="Cliente"/>
                </p:submenu>
                <p:submenu label="Relatorio">
                    <p:menuitem url="index.xhtml" value="Cliente"/>
                </p:submenu>
            </p:menubar>
        </h:form>

        <ui:insert name="conteudo"/>
        
        <h:form>
            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                <p:commandButton value="Sim" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                <p:commandButton value="Não" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
            </p:confirmDialog>
        </h:form>

    </h:body>
</html>
